<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <title>Crop Url</title>
</head>

<body>
    <div class="container" >
    <div class = row >
    <h1>Bank Details</h1>
    </div>
   
    <div class = row>
    <label>Details:</label>
   
   <h4><%= name %></h4>
   <a href="https://api-banks.herokuapp.com/bank/?ifsc=ABHY0065001">https://api-banks.herokuapp.com/bank/?ifsc=ABHY0065001</a>
  <br/>
   <a href="https://api-banks.herokuapp.com/details/?city=BHIWADI&bank_name=STATE%20BANK%20OF%20INDIA">https://api-banks.herokuapp.com/details/?city=BHIWADI&bank_name=STATE%20BANK%20OF%20INDIA</a>
   
   
</div>
</div>
</body>

</html>